.fly
{
    position: absolute;
    border: 1px solid black;
    padding-top: 1em;
    background-color: #fff;
    cursor: move;
}

#area, body, #view, html
{
    width: 100%;
    height: 100%;
    background-color: #ccc;
}